.container {
    background-color: #EEEEEE; 
    border: 1px solid gray;
    width: 600px; 
    height: 300px; 
}

.chosenColor {
    width: 30%; 
    height: 100%; 
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.complementaryColors {
    width: 70%; 
    height: 100%; 
    float: left;
}

.dot {
    height: 100px;
    width: 100px;
    background-color: #58355E;
    border-radius: 50%;
    display: inline-block;
}

.colors {
    display: flex;
    justify-content: space-between;
    height: 75%;
}

.color {
    height: 100%; 
    width: 20%;
    text-align: center;
}

.colorBox1 {
    height: 80%; 
    width: 80%; 
    margin: auto; 
    background-color: #E03616; 
}

.colorBox2 {
    height: 80%; 
    width: 80%; 
    margin: auto;  
    background-color: #FFF689; 
}

.colorBox3 {
    height: 80%; 
    width: 80%; 
    margin: auto; 
    background-color: #CFFFB0; 
}

.colorBox4 {
    height: 80%; 
    width: 80%; 
    margin: auto; 
    background-color: #5998C5; 
}